.classpath
.project
.settings
target
bin
build
.idea
*.iml
.springBeans
/site/
myenv
venv
.venv/
**/.DS_Store
docs/fase-00-arranque-resume.md
docs/fase-05-arranque-resume.md
docs/fase-06-arranque-resume.md
docs/fase-07-arranque-resume.md
docs/fase-08-arranque-resume.md
docs/fase-09-arranque-resume.md
docs/fase-10-arranque-resume.md
